.header {
  display: flex;
  background: #000;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  border-bottom: 0.2rem solid red;
  gap: 5rem;
}

.header .logo-div {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.header .logo-div img {
  width: 4rem;
  border-radius: 50%;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.search-container {
  flex: 1;
  display: flex;
  max-width: 40rem;
}

.search-container__input {
  border: none;
  padding: 0.5rem 1rem;
  border-left: 1px solid rgb(201, 194, 194);
  background-color: white;
  flex: 1;
  width: 0;
  outline: none;
}
.search-container__btn {
  border: none;
  padding: 0.5rem 2rem;
  cursor: pointer;
  color: white;
  font-weight: bold;
  background-color: rgb(255, 0, 0);
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  outline: none;
}

.search-container__select {
  border: none;
  outline: none;
  padding: 0.65rem 0;
  padding-left: 1rem;
  background-color: white;
  border-bottom-left-radius: 2rem;
  border-top-left-radius: 2rem;
  border-right: 5px solid white;
  align-self: center;
}
.mobile_menu {
  display: none;
}
.logo {
  color: white;
  font-weight: bold;
}
.search-container__btn:focus,
.search-container__btn:hover {
  background-color: rgb(220, 0, 0);
}
.search-container__input:focus {
  outline: none;
}

@media (width < 768px) {
  .search-container {
    display: none;
  }
  .header {
    padding: 1rem;
  }
  .header .logo-div {
    gap: 1rem;
  }
  .mobile_menu {
    display: block;
    margin-right: 1rem;
    cursor: pointer;
  }
}
