.category__item {
  margin-top: 4rem;
  display: flex;
  gap: 2rem;
}

.category__page {
  position: relative;
}
.pos {
  position: absolute;
}

.hot-deals {
  background: #000;
}
section {
  border-bottom: 1px solid #000;
  overflow-x: scroll;
  padding-bottom: 2rem;
}

section::-webkit-scrollbar {
  display: none;
}

section:not(:first-child) {
  margin-top: 2rem;
}
